.container {
    background-image: url("unionstation.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    height: 100%;
    margin-bottom: 50px;
}

h1, h2 {
    /* font-family: 'Lobster', cursive; */
    font-family: 'Karla', sans-serif;
    color: cornsilk;
    /* font-size: large; */
    letter-spacing: 1px;
}

center {
    /* font-family: 'Lobster', cursive; */
    font-family: 'Karla', sans-serif;
    margin-bottom: 25px;
    color: cornsilk;
    font-size: large;
    letter-spacing: 1px;
}

body {
    background-color: black;
}

th {
    /* font-family: 'Lobster', cursive; */
    font-family: 'Karla', sans-serif;
    color: cornsilk;
    /* font-size: large;
    letter-spacing: 1px; */
}

.form-group {
    /* font-family: 'Lobster', cursive; */
    font-family: 'Karla', sans-serif;
    color: cornsilk;
    font-size: large;
    letter-spacing: 1px;
}
